h1{
    color: brown;
    text-align: right;
}

body{
    background-color:rgb(165, 130, 198);
    background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1200);
}


#home{text-align: right;
}

p.like{background-color: rgb(197, 49, 128);
    text-align:center;

}

 a[href^="https//:buena.com"]{text-decoration-color: rgb(244, 140, 3);
    text-transform: capitalize;
    font-style: italic;

 }

 #linkone:hover{color: rgba(9, 237, 74, 0.953);
    cursor: pointer;
    text-decoration: wavy;

 }

 p,b,h1{font-size: 30px;

 }


 input[type="text"]{background-color: rgb(165, 126, 126);
    padding-left: 120px;
    width: 15%;


 }


 
 
   #work{background-color: blueviolet;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

   }

   #book{background-color: rgb(17, 176, 102);
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

   }

   .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
   }